<div class="card-container">
    <h3 class="text-center">Live TV</h3>
    <br>
    <div>
        <table class="table table-striped">
          <thead>
          <tr>
              <th scope="col">Title</th>
              <th scope="col">Thumnail</th>
              <th scope="col">Link</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let tv of livetvchannels; index as i" (click)="ChangeChannel(tv.livetvUrl)"
            [ngClass]="{'tr-active': tv.livetvUrl === livetvUrl}">
              <td>{{tv.livetvTitle}}</td>
              <td> <img [src]="tv.livetvThumbnail" class="mr-2" style="width: 60px">
              <td>
                <a [href]=tv.youtubeLink alt="youtubeLink">{{tv.livetvUrl}}</a>
              </td>
          </tr>
          </tbody>
          </table>
       </div>
    <br><br><br>
    <div class="text-center">
        <iframe width="560" height="315" [src]="currenttv" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </div>
</div>